<div class="card grid gap-2" style="margin: 1.5rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><label>Manager ändern</label>  <button class="btn btn-primary" style="float:right;" type="button" data-bs-target="#managerDialog" onclick="resetManagerForm()" data-bs-toggle="modal"><span class="material-symbols-outlined" style="float:left;width:auto;">
        add
        </span><label>Ändern</label></button></li>
      <li class="list-group-item">
        <ul id="manager-container" class="list-group list-group-flush" style="padding-left: 1.5rem;">
            <label>Manager</label>
        </ul>
      </li>
    </ul>
    <div id="abteilungName" class="card-footer"></div>
</div>
<div class="modal fade" id="managerDialog" tabindex="-1" aria-labelledby="managerDialogLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="managerDialogLabel">Manager wechseln</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <di class="modal-body">
            <div id="changeManager" class="card" style="padding: 2rem; margin: top 0.5em;">
                <label>Manager ändern</label>
                <div class="card" style="padding: 2rem; margin: top 0.5em;">
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="inputName">
                      </div>
                      <div class="mb-3">
                        <label for="inputFestgehalt" class="form-label">Gehalt</label>
                        <input type="number" class="form-control" id="inputFestgehalt">
                      </div>
                      <div class="mb-3">
                        <label for="inputBonusSatz" class="form-label">Bonus</label>
                        <input type="number" min="1" max="100" class="form-control" id="inputBonusSatz">
                        <div id="bonusSatzHelp" class="form-text">Der Bonus-Satz ist prozentual vom Festgehalt</div>
                      </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
              <button type="button" class="btn btn-primary" onclick="changeManager()">Ändern</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>