.pointer:hover {
	cursor: pointer;
}

.icon{
	float: left;
	width: auto;
}

.icon-gehalt{
	margin-right: 0.5rem;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}